label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /*-moz-border-radius: 2px;*/
  /*-webkit-border-radius: 2px;*/
  /*border-radius: 2px;*/
  /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.top-buffer-10 {
  margin-top: 10px;
}

.bottom-buffer-10 {
  margin-bottom: 10px;
}

.top-buffer-30 {
  margin-top: 30px;
}

.top-buffer-70 {
  margin-top: 50px;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.center-vertical {
  margin-bottom: auto;
  margin-top: auto;
}

.width-600 {
  width: 600px;
}

.view-card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 30px;
  width: 80%;
  /*-moz-border-radius: 2px;*/
  /*-webkit-border-radius: 2px;*/
  border-radius: 2px;
  /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.card-200 {
  height: 200px;
  text-align: left;
}

.line-break {
  word-break: break-all;
}

.pipeline-results-card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 30px;
  width: 100%;
  border-radius: 4px;
}

.bordered-box {
  /*border-color: #FF895D;*/
  border: 1px #1B435D solid;
  border-radius: 4px;
}


.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/*Pallete*/
.color-dark-blue {
  background-color: #1B435D;
  color: #EFE4E4;
}

.color-middle-blue {
  background-color: #78BBE6;
}

.color-light-blue {
  background-color: #D5EEFF;
  color: #1B435D;
}

.color-beige {
  background-color: #EFE4E4;
  color: #1B435D;
}

.color-orange {
  background-color: #FF895D;
  color: #1B435D;
}

.progress-bar-orange {
  background-color: #FF895D !important;
}

.mainDiv{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f5f5f5;
}

