.jumbotron {
    font-size: large;
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #f1f1f1;*/
    padding-top: 20px !important;
    padding-bottom: 15px !important;
}

.card {
    font-size: large;
    max-width: 600px !important;
    border-style: none;
    /*background-color: #f7f7f7;*/
    padding: 20px 25px 20px;
    margin: 0 auto 25px;
    margin-top: 50px;
}

.card-link-custom {
    align-self: center;
    text-align: center;
    font-size: medium;
    width: 300px !important;
    border-radius: 4px;
    padding: 10px 10px 10px;
    margin: 0 auto 10px;
    margin-top: 0px;
}

.top-buffer { margin-top:15px; }

/*.light-color {color: lightslategray}*/